@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-dark text-center">GRACIAS POR PREFERIRNOS!!!</h1><br />
        <br />
        <br />
        <h1 class="text-dark text-center">Orden Procesada correctamente!!!</h1><br />

  
       
    </div>
    <div class="col-12 text-center" style="color:black">
        <br />
        Gracias Por tu Orden! <br />
        Hemos recibido tu Orden y Nosotros te enviaremos un email pronto!
        <br />
        Su número de orden es : @Model
        <br />
        <br />

        
        <br />
        <br />
        <div class="text-center">
            <a asp-area="Inventario" asp-controller="Home"
               asp-action="Index" class="btn btn-success">
                Salir
            </a>
            <a asp-action="ImprimirOrden" class="btn btn-warning"
               asp-route-id="@Model" target="_blank">
                <i class="fas fa-print"></i>
                Imprimir
            </a>
        </div>
    </div>
</div>
