<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-dark rounded-pill form-control">
            <i class="fa fa-plus-circle fa-lg"></i>
            Crear
        </button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-light rounded-pill form-control">
            <i class="fa fa-external-link fa-lg"></i>
            Regresar
        </a>
    </div>
</div>